* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}


.like, .dislike {
    color: yellowgreen;

}

.like:hover {
    cursor: pointer;
    color: rgb(29, 12, 221);
}

.dislike:hover {
    cursor: pointer;
    color: rgb(15, 16, 15);
}
